body {
background-color: darkcyan;
display:flex;
justify-content: center;
height: 100vh;
flex-direction: column;

}
*{
font-family: 'Courier New', Courier, monospace;
box-sizing: padding-box;
}
form{
    width:1000px;
    border:1 px solid rgb(230,210,39);
    border-radius:20px;
    padding:20px;
    background-color:azure;
    border-radius:20px;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
